
.container {
  margin-top: 10px;
  align-items: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;

}

.inner-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.tag-cloud {
  flex: auto;
}

.tag-cloud > div {
  transition: 1.3s;
}

.tag-item:hover {
  background-color: #9ACD32;
  cursor: pointer;

}